<div class="header">
    <div class="about">
        <b>Clicking pictures => imgur</b><br />
        <b>Clicking titles / upvotes => reddit</b>
    </div>
    <a href="javascript: void(0);" onclick="window.location.hash='#pics'; window.location.reload(true);" style="text-decoration: none;"><div class="logo"><span class="one">pin</span><span class="two">reddit</span></div></a>
 
</div>

<div class="content clearfix">
    <div id="reddit-widget"></div>
</div> <!-- #reddit-widget -->
<div id="ajax-loader" style="display:none; text-align:center; width: 1000px; margin:50px auto;"><img src="images/ajax-loader.gif" id="ajax-loader" /></div>